/*this only affects the top portions of the page, not layout so much*/
input {
    width: 50%;
}

.lit-space {
    margin: 2px;
}

.somespace {
    margin: 6px;
}

/*Layout*/


  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 70vh;
    border: 2px solid black;
    padding: 2px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2 1;
    padding: 3px;
  }
  
  .blue-column {
    overflow: scroll;
    height: 100%;
    background-color: #eee;
  }
  
  .green-column {
    overflow: scroll;
    height: 100%;
    /* background-color: #E0E0E0; */
    background-color: #404040;
    padding: 8px;
    color: white;
  }

  .left {
    flex-basis: 66%;
  }

  .right {
    flex-basis: 33%;
  }

  /*friend card*/
  .friend-card {
    width: 90%;
    margin: auto;
    border: 1px solid #C8C8C8;
    box-shadow: 0 2px 3px #ccc;
    padding: 6px;
    text-align: center;
    background-color: mintcream;
  }

  .me-card {
    width: 90%;
    margin: auto;
    border: 1px solid #C8C8C8;
    box-shadow: 0 2px 3px #ccc;
    padding: 6px;
    text-align: center;
    background-color: darkgray;
  }

  .message {
    width: 75%;
    border: 2px solid #dedede;
    /* background-color: #f1f1f1; */
    background-color: darkgray;
    border-radius: 5px;
    padding: 4px;
    margin: 4px 0;
  }

  .oth-message {
    border-color:  #f1f1f1;
    background-color: rgb(86, 143, 114);
    margin: 4px 0 4px 25%;
  }

  textarea {
      height: 30%;
  }


  hr{
    height: 1px;
    background-color: #ccc;
    border: none;
}
  
  

