

<!-- <div>search</div> -->
<!-- <div class="page-wrapper"> -->
  <!-- <div class="form-group">
  <a class="btn btn-link">My Friends</a><a class="btn btn-link">---All</a><a class="btn btn-link">---Pending</a><a class="btn btn-link">---Search Network</a>
</div> -->
<div>
  <button (click)="onClickFreindMode()" class="btn btn-primary lit-space" type="button">
    <i class="fa fa-search">Friends</i>
  </button>
  <button (click)="onClickPendingMode()" class="btn btn-primary lit-space" type="button">
    <i class="fa fa-search">Pending</i>
  </button>
  <button (click)="onClickNetworkMode()" class="btn btn-primary lit-space" type="button">
    <i class="fa fa-search">Network</i>
  </button>
</div>
<div><input type="text" [(ngModel)]="search" class="form-control somespace" placeholder="Type to Search"></div>
<button (click)="routeSearch()" class="btn btn-primary lit-space">Search {{this.mode}}</button>


  <!-- <div class='row'>
    <div class='column-wide'>
      <div class='blue-column'>
        <div class="friend-list yellow-oline">
          <h1 style="text-align: center;">Friends</h1>

          <div (click)="onClickFreind(f)" class="friend-card" *ngFor="let f of freinds">
            <h4>{{f?.relatedUserName}}</h4>
            <p><i>{{motto}}</i></p>
            <p><b class="score">Total: </b>({{scoreTotal}}) | <b class="score">MLB: </b>({{mlbScore}}) | <b class="score">2020 Presidential: </b>({{presScore}}) |
            </p>
          </div>


</div>
    </div>
  </div>



    <div class='column'>
      <div class="message-list">
        <div class='green-column'>
          <app-messages></app-messages>
        </div>
    </div>
    </div> -->


    <!-- <div class="rowww dark-border">
      <div class="columnnn left" style="background-color:#aaa;">
        
        <p>Some text..</p>
      </div>
      <div class="columnnn right" style="background-color:#bbb;">
        <h2>Column 2</h2>
        <p>Some text..</p>
      </div>
    </div> -->


    
      <div class='row'>
        <div class='column left'>
          <div class='blue-column'>
            <h2 style="text-align: center;">{{mode}}</h2>
            <!-- <hr> -->
            <!--I think I want to just leave this in the profile for now?-->
            <!-- <div class="me-card">
              <h3>Me: </h3>
              <p>Motto</p>
              <a>Link for modal to popup with a list of active predictions</a>
              <div>
                <p><b>Score1:</b> score <b>| Score2:</b> score <b>| Score3:</b> score</p>
              </div>
            </div> -->
            <hr>
            <div *ngIf="this.mode == 'Friends'">
              <div *ngFor="let r of relations" class="friend-card">
                <h3>{{r.displayName}}</h3><h3 *ngIf="!r.displayName">{{r.relatedUserName}}</h3>
                <p>{{r.motto}}</p><!--We need to actually relate this to NosterDTO-->
                <a>Link for modal to popup with a list of active predictions</a>
                <div>
                  <p><b>Score1:</b> score <b>| Score2:</b> score <b>| Score3:</b> score</p>
                </div>
              </div>
           </div>
           <div *ngIf="this.mode != 'Friends'">
              <div *ngFor="let n of nosters" class="friend-card">
                <h3>{{n.displayName}}</h3><h3 *ngIf="!n.displayName">{{n.userName}}</h3>
                <p>{{n.motto}}</p><!--We need to actually relate this to NosterDTO-->
                <a>Link for modal to popup with a list of active predictions</a>
                <div>
                  <p><b>Score1:</b> score <b>| Score2:</b> score <b>| Score3:</b> score</p>
                </div>
                <button *ngIf="this.mode == 'Network'" (click)="onSendFriendReq(n)" class="btn btn-primary">Send Friend Request</button>
                  <button *ngIf="this.mode == 'Pending'" (click)="onConfirm(n)" class="btn btn-primary lit-space">Confirm</button>
                  <button *ngIf="this.mode == 'Pending'" (click)="onDeny(n)" class="btn btn-danger lit-space">Deny</button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="this.mode == 'Friends'" class='column right'>
          <div class='green-column'>
           <h3>Messages with {{selectedFriend?.displayName}}</h3>
           <hr>
           <div class="message">Test my message</div>
           <div class="message">Test my message</div>
           <div class="message oth-message">Test my friend message</div>
          </div>
          <textarea placeholder="Type message"></textarea>
          <button class="btn btn-primary">Send Message</button>
        </div>
      </div>
   