
input {
    width: 50%;
}

.lit-space {
    margin: 2px;
}

.page-wrapper {
    
    border: 5px solid red; 
    /* height: 100%; */
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 2%;
    margin-left: 0;
    border-left: 5px solid black;
    
}

.column-wide {
    display: flex;
    /* flex-direction: column; */
    flex-basis: 100%;
    flex: 2;
    margin: 2%;
    margin-right: 0;
    border-right: 1px solid black;
    /* overflow:scroll; */
}

.blue-column {
    height: 1000px;
    flex: 2;
    padding: 5%;
    overflow:scroll;
    border: 6px solid blue;
  }

  .green-column {
    height: 1000px;
    padding: 5%;
    overflow:scroll;
    border: 6px solid orange;
  }

  .friend-card {
      background-color: cornsilk;
      padding: 1%;
      border: 1px solid black;
      margin-left: 2%;
      margin-right: 2%;
  }

  .friend-list {
    background-color: cornsilk;
  }

  .message-list {
      background-color: honeydew;
  }

  .score {
      padding-left: 1%;
      padding-right: 1%;
  }