<h2><i>*In progress, still looking at if I want to do this.</i></h2>

<!-- <div>search</div> -->
<div class="page-wrapper">
  <!-- <div class="form-group">
  <a class="btn btn-link">My Friends</a><a class="btn btn-link">---All</a><a class="btn btn-link">---Pending</a><a class="btn btn-link">---Search Network</a>
</div> -->
<div>
  <button class="btn btn-primary lit-space" type="button">
    <i class="fa fa-search">Friends</i>
  </button>
  <button class="btn btn-primary lit-space" type="button">
    <i class="fa fa-search">Pending</i>
  </button>
  <button class="btn btn-primary lit-space" type="button">
    <i class="fa fa-search">Network</i>
  </button>
</div>
<div><input type="text" class="form-control somespace" placeholder="Type to Search"></div>
  <div class='row'>
    <div class='column-wide'>
      <div class='blue-column'>
        <div class="friend-list yellow-oline">
          <h1 style="text-align: center;">Friends</h1>

          <div class="friend-card" *ngFor="let f of freinds">
            <h4>{{f?.relatedUserName}}</h4>
            <p><i>{{motto}}</i></p>
            <p><b class="score">Total: </b>({{scoreTotal}}) | <b class="score">MLB: </b>({{mlbScore}}) | <b class="score">2020 Presidential: </b>({{presScore}}) |
            </p>
          </div>


</div>
    </div>
  </div>



    <div class='column'>
      <div class="message-list">
        <div class='green-column'>
          <app-messages></app-messages>
        </div>
    </div>
    </div>
