<app-header></app-header>
<div class="container">
  <router-outlet  #myOutlet="outlet"></router-outlet>
  <!-- {{myOutlet.isActivated}} -->
  <div *ngIf="!myOutlet.isActivated">
    <h1>Welcome to iNostradamus!</h1>
    <p>Make predictions, see scores and see what others have predicted!</p>

    <div class="sector">
      <div class="notif" (click)="updateDropDown()">Updates ></div>
      <p *ngIf="updateSection">Information on Updates</p>
      <div class="notif" (click)="highScoreDropDown()">High Scores ></div>
      <p *ngIf="highScoreSection">Info on High Scores</p>
      <div class="notif" (click)="resourceDropDown()">Resources ></div>
      <p *ngIf="resourceSection">Info on Information/Resources</p>
      <div class="notif" (click)="instructionDropDown()">Instructions ></div>
      <p *ngIf="instructionSection">Info on Insrtuctions</p>
    </div>
    
  </div>
  <p><small>{{environment.version}}</small></p>
</div>
<app-idle *ngIf="isIdle" [message]="idleState"></app-idle>
